cmd/clash_manager/clash_manager
cmd/logger/logger
cmd/torrent_checker/torrent_checker
cmd/myindex/myindex
cmd/index_interface/main
*.snapshot.*
*.swp
*.yml
*.exe
test.html
cmd/openai/key.txt
cmd/openai/proxy.txt
cmd/openai/endpoint.txt
cmd/openai_cli/key.txt
cmd/openai_cli/proxy.txt
cmd/openai_cli/endpoint.txt
cmd/openai_cli/io.txt
cmd/openai_cli/openai_cli
cmd/ed2k/ed2k
cmd/novel/*.txt
.DS_Store
vendor/go_utils/utils/myhttp/*.crt
vendor/go_utils/utils/myhttp/*.key
vendor/go_utils/utils/openai/*.txt
vendor/go_utils/utils/openai/*.txt_pg
vendor/go_utils/utils/openai/key.txt_pq
vendor/go_utils/utils/webui/output/index.html
