cmd/clash_manager/clash_manager
cmd/logger/logger
cmd/torrent_checker/torrent_checker
cmd/myindex/myindex
cmd/index_interface/main
*.snapshot
*.swp
*.yml
*.exe
test.html
cmd/openai/key.txt
cmd/openai/proxy.txt
cmd/openai/endpoint.txt
.DS_Store
