<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    h1 {
        color: DarkMagenta;
    }
	table, th, td {
		border: 1px solid black;
	}
    input {
        margin: 5px;
    }
	th, td {
		padding: 5px;
	}
    div {
        margin: 10px;
        margin-top: 20px;
    }
    </style>
</head>
<body>
    <div>
        <h1>Demo Manager</h1>
        <p>a simple manager</p>
        <button><a href="/">Refresh</a></button>
    </div>
	<div>
        <table>
            <tr>
                <th>Name</th>
                <th>Last</th>
                <th></th>
                <th></th>
            </tr>
{{ range .Subscribe }}
            <tr>
                <td>{{ .Name }}</td>
                <td>{{ .LastUpdated }}</td>
                <td><a href="/update?name={{ .Name }}">Update</a></td>
                <td><a href="/delete?name={{ .Name }}">Delete</a></td>
            </tr>
{{ end }}
        </table>
	</div>
    <div>
        <form action="/" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Add sub</legend>

                <label for="name">name:</label>
                <input type="text" id="name" name="name" value="ss"><br>

                <label for="url">url:</label>
                <input type="url" id="url" name="url" value="https://"><br>

                <input type="submit" id="submit" name="action" value="add"><br>
            </fieldset>
        </form>
    </div>
	<div>
        <table>
            <tr>
                <th>Proxy</th>
                <th>NOW: {{ .CurrentProxy }}</th>
            </tr>
            {{ range .AllProxies }}
            <tr>
                <td>{{ . }}</td>
                <td><a href="/selectproxy?name={{ . }}">Select</a></td>
            </tr>
            {{ end }}
        </table>
	</div>
	<div>
        <table>
            <tr>
                <th>Node</th>
                <th>NOW: {{ .CurrentNode }}</th>
            </tr>
            {{ range .AllNodes }}
            <tr>
                <td>{{ . }}</td>
                <td><a href="/selectnode?name={{ . }}">Select</a></td>
            </tr>
            {{ end }}
        </table>
	</div>
    <div>
        <p>{{ .Msg }}</p>
    </div>
</body>
</html>
